/* KANBOARD PLUGIN - CSS FILE */

:root {
    --pp-blue: #007AC9;
    --pp-blue-alt: #00ADFF;
    --pp-red: #B71234;
    --pp-red-alt: #DA004C;
    --pp-red-alt-2: #AE003D;
    --pp-black: #000000;
    --pp-light-grey: #8F8F8F;
    --pp-grey: #4D4D4D;
    --pp-white: #FFFFFF;
    --pp-green: #2EA02E;
    --pp-green-dark: #055D20;
    --pp-orange: #FF6500;
    --pp-orange-c-cleaner: #F4290E;
    --blue-icon-dark: #034CA6;
    --button-blue-gradient: linear-gradient(to bottom, #7892C2 80%, #476E9E 100%);
    --blue-border-gradient-match: #476E9E;
    --button-background-delete: #D05C84;
    --link-color-primary: #3366CC;
    --header-page-margin-c-cleaner: 5px 15px 10px 15px;
    --page-margin-c-cleaner: 0 15px 0 15px;
    --title-margin-c-cleaner: 0 15px 0 15px;
    --border-radius-c-cleaner: 3px;
    --panel-background-c-cleaner: #EEEEEE;
    --transition-c-cleaner: ease-in-out all .3s;
}

.pp-blue { color: var(--pp-blue); fill: var(--pp-blue); }
.pp-blue-alt { color: var(--pp-blue-alt); fill: var(--pp-blue-alt); }
.pp-red { color: var(--pp-red); fill: var(--pp-red); }
.pp-red-alt { color: var(--pp-red-alt); fill: var(--pp-red-alt); }
.pp-red-alt-2 { color: var(--pp-red-alt-2); fill: var(--pp-red-alt-2); }
.pp-black { color: var(--pp-black); fill: var(--pp-black); }
.pp-light-grey { color: var(--pp-light-grey); fill: var(--pp-light-grey); }
.pp-grey { color: var(--pp-grey); fill: var(--pp-grey); }
.pp-white { color: var(--pp-white); fill: var(--pp-white); }
.pp-green { color: var(--pp-green); fill: var(--pp-green); }
.pp-dark-green { color: var(--pp-green-dark); fill: var(--pp-green-dark); }
.pp-orange { color: var(--pp-orange); fill: var(--pp-orange); }

.display-none, .d-none { display: none !important; }

.font-weight-bold { font-weight: bold; }

.text-center { text-align: center; }

.relative { position: relative; }

.c-cleaner-page-margin {
    margin: var(--page-margin-c-cleaner);
}

.c-cleaner-page-header h2 {
    margin-top: 10px;
    font-weight: 600;
}

.cleaner-intro {
    padding: 10px 0;
}

section.db-summary fieldset {
    width: fit-content;
    margin: auto;
    border: 2px outset var(--pp-orange-c-cleaner);
    border-radius: 10px;
    padding: 5px;
}

#DBSummaryTable {
    border-collapse: separate;
    width: auto;
    margin: auto;
}

#DBSummaryTable tr th, #DBSummaryTable tr td {
    border: 0;
    background: none;
    padding-left: 10px;
}

#DBSummaryTable tr th {
    font-weight: 600;
}

#DefaultTables .db-database-icon {
    width: 25px;
    height: 25px;
}

li.list-item i.fa-table, li.job-tables-title i.fa-table, .extra-table-item i.fa-table, .job-tables-title i.fa-columns {
    color: var(--pp-orange-c-cleaner);
    opacity: .7;
}

ul.default-table-list li.list-item {
    display: inline-block;
    width: 260px;
    margin-block: 5px;
}

.default-table-list {
    margin-top: 10px;
    margin-bottom: 5px;
}

.default-tables {
    border: 2px outset var(--pp-orangered);
    border-radius: var(--border-radius-c-cleaner);
}

.auto-cleaning-section .accordion-content, .db-cleaning-section .accordion-content, .plugin-cleaning-section .accordion-content {
    text-align: center;
}

.auto-cleaning-section .accordion-content p, .db-cleaning-section .accordion-content p, .plugin-cleaning-section .accordion-content p {
    text-align: initial;
}

.job-section-wrapper {
    display: inline;
}

li.more {
    font-style: italic;
}

.job-wrapper {
    width: 45%;
    display: inline-block;
    text-align: initial;
    margin: 10px;
    border: 1px solid var(--pp-grey);
    border-radius: var(--border-radius-c-cleaner);
    box-shadow: 0 0 2px 0 var(--pp-grey);
    vertical-align: middle;
    height: 200px;
}

.job-wrapper .form-actions {
    text-align: right;
    padding-top: 0;
    margin-top: 5px;
    display: block;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.job-title {
    background-color: var(--pp-white);
    padding-left: 4px;
    padding-right: 10px;
    font-weight: 600;
    font-size: 1.1em;
}

.job-title span.content-cleaner-icon {
    width: 32px;
    height: 32px;
    vertical-align: middle;
}

.job-desc {
    font-size: .9em;
    margin-block-start: 5px;
    margin-block-end: 15px;
}

.job-content {
    margin-bottom: 10px;
    height: 75px;
    display: block;
}

.job-tables, .job-result, .job-table-size {
    font-size: .9em;
}

.job-tables {
    margin-block-start: 10px;
}

.job-tables li, .job-result li, .job-table-size li {
    display: inline-block;
}

.job-tables li.job-tables-title, .job-result li.job-result-title, .job-table-size li.job-tables-title {
    width: 130px;
}

.job-result {
    display: inline-flex;
}

.job-result-title {
    min-width: 130px;
}

.job-result-text code {
    font-size: .9em;
    background-color: rgba(27, 31, 35, .22);
    color: var(--pp-black);
    line-height: 2;
    margin: auto 1px;
    padding: 1px 3px 2px 3px;
    font-family: monospace;
    border-radius: 2px;
    letter-spacing: .06rem;
}

fieldset.job-wrapper a.job-btn, fieldset a.job-btn:visited {
    font-size: 1em;
    border: 2px outset var(--pp-orange-c-cleaner);
    background: rgba(0, 0, 0, .15);
    font-weight: 600;
    color: var(--pp-green-dark);
    transition: var(--transition-c-cleaner);
    margin: 0;
    margin-right: -6px;
    text-decoration: none;
}

fieldset.job-wrapper a.job-btn:hover {
    color: var(--pp-green-dark) !important;
    background: var(--pp-white);
    border: 2px inset var(--pp-orange-c-cleaner);
}

.job-btn span.db-delete-icon {
    width: 24px;
    height: 22px;
    vertical-align: text-top;
}

.job-btn span.content-cleaner-icon {
    width: 24px;
    height: 22px;
    vertical-align: text-top;
}

#ResetModalSettingsHeader h2, #AutoPurgeCleanHeader h2, #PurgePluginSchemasHeader h2, #RemoveTableHeader h2, #ExtraColumnsHeader h2 {
    margin-top: 5px;
    margin-bottom: 0;
}

#ResetModalSettingsHeader h2 .job-number, #AutoPurgeCleanHeader h2 .job-number, #PurgePluginSchemasHeader h2 .job-number, #RemoveTableHeader h2 .job-number {
    background: var(--pp-orange-c-cleaner);
    color: var(--pp-white);
    padding: 0 3px;
    border-radius: var(--border-radius-c-cleaner);
}

#ResetModalSettingsHeader .modal-title, #AutoPurgeCleanHeader .modal-title, #PurgePluginSchemasHeader .modal-title, #RemoveTableHeader .modal-title, #ExtraColumnsHeader .modal-title {
    float: right;
    margin-right: 2em;
    font-weight: 600;
    font-size: .8em;
}

#ResetModalSettingsContent .form-actions, #AutoPurgeCleanContent .form-actions, #PurgePluginSchemasContent .form-actions, #RemoveTableContent .form-actions, #ExtraColumnsContent .form-actions {
    text-align: right;
}

#ResetModalSettingsContent .confirm .js-confirm-buttons-rendered .form-actions, #AutoPurgeCleanContent .confirm .js-confirm-buttons-rendered .form-actions, #PurgePluginSchemasContent .confirm .js-confirm-buttons-rendered .form-actions, #RemoveTableContent .confirm .js-confirm-buttons-rendered .form-actions, #ExtraColumnsContent .confirm .js-submit-buttons-rendered .form-actions {
    color: var(--pp-white);
}

#ResetModalSettingsContent .confirm .js-confirm-buttons-rendered .form-actions button, #AutoPurgeCleanContent .confirm .js-confirm-buttons-rendered .form-actions button, #PurgePluginSchemasContent .confirm .js-confirm-buttons-rendered .form-actions button, #RemoveTableContent .confirm .js-confirm-buttons-rendered .form-actions button, #ExtraColumnsContent .confirm .js-submit-buttons-rendered .form-actions button {
    border-radius: var(--border-radius-c-cleaner);
    padding-bottom: 4px;
}

#ResetModalSettingsContent .confirm .js-confirm-buttons-rendered .form-actions a, #AutoPurgeCleanContent .confirm .js-confirm-buttons-rendered .form-actions a, #PurgePluginSchemasContent .confirm .js-confirm-buttons-rendered .form-actions a, #RemoveTableContent .confirm .js-confirm-buttons-rendered .form-actions a, #ExtraColumnsContent .confirm .js-submit-buttons-rendered .form-actions a {
    font-size: 1.2em;
    padding: 3px 10px;
    transition: var(--transition-c-cleaner);
    background: var(--pp-white);
    border: 1px solid var(--pp-grey);
    border-radius: var(--border-radius-c-cleaner);
    text-decoration: none;
}

#JobType {
    position: absolute;
    bottom: 7px;
    color: var(--pp-light-grey);
    text-transform: uppercase;
    font-size: 1em;
}

#JobType span.automatic-icon {
    vertical-align: bottom;
    opacity: .4;
}

#JobType span.application-icon {
    vertical-align: sub;
    opacity: .4;
}

#JobType span.plugin-icon {
    opacity: .4;
}

.job-wrapper .job-number-wrapper {
    position: absolute;
    right: 10px;
    width: 33px;
    background: white;
    height: 26px;
    top: -29px;
    padding: 0 3px;
    cursor: context-menu;
}

.job-wrapper .job-number {
    position: relative;
    right: -3px;
    background: var(--pp-orange-c-cleaner);
    color: var(--pp-white);
    padding: 0 3px;
    top: 1px;
    border-radius: var(--border-radius-c-cleaner);
    font-size: 1.1em;
}

li.job-result-title i.fa-check::before {
    content: "\2714";
    color: var(--pp-green);
    font-weight: bold;
}

.job-tables-table {
    margin-left: -.20em;
    background: rgba(244, 41, 14, .2);
    padding: 0 3px 2px 3px;
    border-radius: var(--border-radius-c-cleaner);
    margin-right: 10px;
}

.job-tables-data {
    margin-left: -.20em;
}

.table-count-badge {
    color: var(--pp-white);
    font-weight: 600;
    border: 1px solid var(--pp-red-alt-2);
    background-color: var(--pp-orange-c-cleaner);
    padding: 0 3px;
    border-radius: var(--border-radius-c-cleaner);
}

.default-columns-count {
    font-style: italic;
    font-size: .9em;
    margin-top: 3px;
}

.extra-columns-count {
    font-weight: 600;
    color: var(--pp-black);
    text-decoration: none;
}

.table-plugin-name {
    float: right;
    margin-top: 5px;
    margin-left: 50px;
    font-size: .9em;
    cursor: context-menu;
}

.table-plugin-name span.plugin-icon {
    width: 18px;
    height: 18px;
    vertical-align: sub;
    margin-right: 3px;
}

.extra-table-list {
    margin-left: 6px;
}

.extra-table-list .extra-table-item {
    padding: 0 5px 2px 5px;
    transition: var(--transition-c-cleaner);
    border-radius: 2px;
}

.extra-table-item:hover {
    background-color: rgba(244, 41, 14, .1);
}

.list-item-table {
    background: rgba(244, 41, 14, .2);
    padding: 0 3px 2px 3px;
    border-radius: var(--border-radius-c-cleaner);
    border: 1px solid transparent;
    font-size: .9em;
}

td a.list-item-table {
    margin-right: 3px;
    text-decoration: none !important;
    line-height: 27px;
    color: var(--pp-red-alt-2);
}

td a.list-item-table:hover {
    text-decoration: none !important;
    border: 1px solid var(--pp-orange-c-cleaner);
    color: var(--pp-black) !important;
}

.extra-table-item i.fa-table {
    line-height: 1.5;
}

li.list-item i.fa-table {
    line-height: 1.2;
}

span.db-name {
    border: 1px solid var(--pp-orange-c-cleaner);
    padding: 0 3px 4px 3px;
    letter-spacing: .051em;
    border-left: 0;
    border-right: 0;
}

span.db-name > span.db-database-icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.auto-cleaning-section p.section-intro, .db-cleaning-section p.section-intro, .plugin-cleaning-section p.section-intro, .default-table-section p.section-intro {
    margin: 10px auto 15px auto;
}

details.auto-cleaning-section > summary.accordion-title, details.db-cleaning-section > summary.accordion-title, details.plugin-cleaning-section > summary.accordion-title {
    border-block-width: medium;
    border-block-style: inset;
    text-indent: .5em;
    border-block-start-color: rgba(138, 1, 1, .6);
    border-block-end-color: rgba(244, 41, 14, .6);
    font-weight: 600;
    cursor: pointer;
}

details.auto-cleaning-section[open] summary, details.db-cleaning-section[open] summary, details.plugin-cleaning-section[open] summary {
    color: var(--pp-green-dark);
}

details.accordion-section summary.accordion-title::marker {
    font-size: 1.2em;
}

#DefaultTables {
    margin-top: 20px;
}

details.auto-cleaning-section, details.db-cleaning-section, details.plugin-cleaning-section {
    margin-left: initial;
    margin-right: initial;
    margin-block: 10px;
}

.accordion-title span.plugin-icon {
    width: 22px;
    height: 20px;
    vertical-align: text-top;
    margin-top: 2px;
}

.accordion-title span.application-icon {
    vertical-align: sub;
    width: 22px;
    height: 22px;
    display: inline-block;
}

.accordion-title span.automatic-icon {
    vertical-align: sub;
    height: 23px;
    width: 23px;
    display: inline-block;
}

.confirm .confirm-notice {
    margin-top: 30px;
}

#ResetModalSettingsHeader .confirm .form-actions, #ViewColumns .confirm .form-actions {
    padding-top: 0;
}

ol.column-list li.job-columns-name {
    display: list-item;
}

.job-columns-name label {
    width: 200px;
}

.job-columns-name label, .job-columns-name .job-columns-plugin {
    display: inline-block;
}

.job-columns-plugin {
    margin: auto 10px;
}

.job-columns-plugin .plugin-icon {
    width: 18px;
    height: 18px;
}

li.extra-columns-title {
    vertical-align: top;
}

li.job-columns-list ol.column-list {
    margin-left: .7em;
    margin-top: -10px;
}

.table-data-info {
    font-weight: 600;
}

.alert-fade-out, .alert-error {
    animation: fadeout 10s linear forwards;
}

fieldset.plugin-job-wrapper {
    padding: 10px 15px 15px 10px;
    position: relative;
    display: block;
    width: auto;
}

.job-plugin-table {
    margin-block-end: 5px;
}

.job-tables-title .content-cleaner-tooltip {
    float: right;
    margin-right: 5px;
}

fieldset.plugin-job-wrapper .form-actions {
    bottom: 6px;
    position: absolute;
    right: 13px;
}
