/* KANBOARD PLUGIN - CSS FILE */

:root {
    --pp-blue: #007AC9;
    --pp-blue-alt: #00ADFF;
    --pp-red: #B71234;
    --pp-red-alt: #DA004C;
    --pp-red-alt-2: #AE003D;
    --pp-black: #000000;
    --pp-light-grey: #8F8F8F;
    --pp-grey: #4D4D4D;
    --pp-white: #FFFFFF;
    --pp-green: #2EA02E;
    --pp-green-dark: #055D20;
    --pp-orange: #FF6500;
    --pp-orange-c-cleaner: #F4290E;
    --blue-icon-dark: #034CA6;
    --button-blue-gradient: linear-gradient(to bottom, #7892c2 80%, #476e9e 100%);
    --blue-border-gradient-match: #476E9E;
    --button-background-delete: #D05C84;
    --link-color-primary: #36C;
    --header-page-margin-c-cleaner: 5px 15px 10px 15px;
    --page-margin-c-cleaner: 0px 15px 0px 15px;
    --title-margin-c-cleaner: 0px 15px 0px 15px;
    --border-radius-c-cleaner: 3px;
    --panel-background-c-cleaner: #EEEEEE;
    --transition-c-cleaner: ease-in-out all .3s;
}

.pp-blue { color: var(--pp-blue); fill: var(--pp-blue); }
.pp-blue-alt { color: var(--pp-blue-alt); fill: var(--pp-blue-alt); }
.pp-red { color: var(--pp-red); fill: var(--pp-red); }
.pp-red-alt { color: var(--pp-red-alt); fill: var(--pp-red-alt); }
.pp-red-alt-2 { color: var(--pp-red-alt-2); fill: var(--pp-red-alt-2); }
.pp-black { color: var(--pp-black); fill: var(--pp-black); }
.pp-light-grey { color: var(--pp-light-grey); fill: var(--pp-light-grey); }
.pp-grey { color: var(--pp-grey); fill: var(--pp-grey); }
.pp-white { color: var(--pp-white); fill: var(--pp-white); }
.pp-green { color: var(--pp-green); fill: var(--pp-green); }
.pp-dark-green { color: var(--pp-green-dark); fill: var(--pp-green-dark); }
.pp-orange { color: var(--pp-orange); fill: var(--pp-orange); }

/*a, details, summary, i, img, table, tr, svg, figure, button {
    transition: var(--transition-c-cleaner);
}*/

/*a:hover { color: var(--pp-red-alt-2) !important; }*/

.display-none, .d-none { display: none !important; }

.font-weight-bold { font-weight: bold; }

.text-center { text-align: center; }

.relative { position: relative; }

.c-cleaner-page-margin {
    margin: var(--page-margin-c-cleaner);
}

.c-cleaner-page-header h2 {
    margin-top: 10px;
    font-weight: 600;
}

.cleaner-intro {
    padding: 10px 0;
}

section.db-summary fieldset {
    width: fit-content;
    margin: auto;
    border: 2px outset var(--pp-orange-c-cleaner);
    border-radius: 10px;
    padding: 5px;
}

#DBSummaryTable {
    border-collapse: separate;
    /*border-spacing: 9px;*/
    width: auto;
    margin: auto;
}

#DBSummaryTable tr th, #DBSummaryTable tr td {
    border: 0;
    background: none;
}

#DBSummaryTable tr th {
    font-weight: 600;
}

#DefaultTables .db-database-icon {
    width: 25px;
    height: 25px;
}

li.list-item i.fa-table, li.job-tables-title i.fa-table, .extra-table-item i.fa-table {
    color: var(--pp-orange-c-cleaner);
    opacity: .7;
}

ul.default-table-list li.list-item {
    display: inline-block;
    width: 260px;
    margin-block: 5px;
}

.default-table-list {
    margin-top: 10px;
    margin-bottom: 5px;
}

.default-tables {
    border: 2px outset var(--pp-orangered);
    border-radius: var(--border-radius-c-cleaner);
}

.auto-cleaning-section .accordion-content {
    text-align: center;
}

.auto-cleaning-section .accordion-content p {
    text-align: initial;
}

.job-section-wrapper {
    display: inline;
}

li.more {
    font-style: italic;
}

.job-wrapper {
    max-width: 45%;
    display: inline-block;
    text-align: initial;
    margin: 10px;
    border: 1px solid var(--pp-grey);
    border-radius: var(--border-radius-c-cleaner);
    box-shadow: 0px 0px 2px 0px var(--pp-grey);
    vertical-align: middle;
}

.job-title {
    background-color: var(--pp-white);
    padding-left: 4px;
    padding-right: 10px;
    font-weight: 600;
    font-size: 1.1em;
}

.job-title span.content-cleaner-icon {
    width: 32px;
    height: 32px;
    vertical-align: middle;
}

.job-desc {
    font-size: .9em;
}

.job-tables, .job-result {
    font-size: .9em;
}

.job-tables {
    margin-block-start: 10px;
}

.job-result {
    margin-block-end: 10px;
}

.job-tables li, .job-result li {
    display: inline-block;
}

.job-tables li.job-tables-title, .job-result li.job-result-title {
    width: 130px;
}

.job-result {
    display: inline-flex;
}

.job-result-title {
    min-width: 130px;
}

.job-result-text code {
    font-size: .9em;
    background-color: rgba(27, 31, 35, 0.22);
    color: var(--pp-black);
    line-height: 2;
    margin: auto 1px;
    padding: 1px 3px 2px 3px;
    font-family: Monospace;
    border-radius: 2px;
    letter-spacing: 0.06rem;
}

fieldset.job-wrapper a.job-btn, fieldset a.job-btn:visited {
    font-size: 1em;
    border: 2px outset var(--pp-orange-c-cleaner);
    background: rgba(0, 0, 0, .15);
    font-weight: 600;
    color: var(--pp-green-dark);
    transition: var(--transition-c-cleaner);
    float: right;
}

fieldset.job-wrapper a.job-btn:hover {
    color: var(--pp-green-dark) !important;
    background: var(--pp-white);
    border: 2px inset var(--pp-orange-c-cleaner);
}

.job-btn span.db-delete-icon {
    width: 24px;
    height: 22px;
    vertical-align: text-top;
}

.job-btn span.content-cleaner-icon {
    width: 24px;
    height: 22px;
    vertical-align: text-top;
}

.job-wrapper .job-number-wrapper {
    position: absolute;
    right: 10px;
    width: 33px;
    background: white;
    height: 26px;
    top: -29px;
    padding: 0 3px;
    cursor: context-menu;
}

.job-wrapper .job-number {
    position: relative;
    right: -3px;
    background: var(--pp-orange-c-cleaner);
    color: var(--pp-white);
    padding: 0 3px;
    top: 1px;
    border-radius: var(--border-radius-c-cleaner);
    font-size: 1.1em;
}

li.job-result-title i.fa-check::before {
    content: "\2714";
    color: var(--pp-green);
    font-weight: 700;
}

.job-tables-table {
    margin-left: -0.20em;
    background: rgba(244, 41, 14, .2);
    padding: 0 3px 2px 3px;
    border-radius: var(--border-radius-c-cleaner);
}

.table-count-badge {
    color: var(--pp-white);
    font-weight: 600;
    border: 1px solid var(--pp-red-alt-2);
    background-color: var(--pp-orange-c-cleaner);
    padding: 0 3px;
    border-radius: var(--border-radius-c-cleaner);
}

.default-columns-count {
    font-style: italic;
    font-size: .9em;
    margin-top: 3px;
}

.extra-columns-count {
    font-weight: 600;
}

.table-plugin-name {
    float: right;
    margin-top: 5px;
    margin-left: 50px;
    font-size: .9em;
    cursor: context-menu;
}

.table-plugin-name span.plugin-icon {
    width: 18px;
    height: 18px;
    vertical-align: sub;
    margin-right: 3px;
}

.extra-table-list {
    margin-left: 6px;
}

.extra-table-list .extra-table-item {
    padding: 0 5px 2px 5px;
    transition: var(--transition-c-cleaner);
    border-radius: 2px;
}

.extra-table-item:hover {
    background-color: rgba(244, 41, 14, .1);
}

.list-item-table {
    background: rgba(244, 41, 14, .2);
    padding: 0 3px 2px 3px;
    border-radius: var(--border-radius-c-cleaner);
    border: 1px solid transparent;
    font-size: .9em;
}

td a.list-item-table {
    margin-right: 3px;
    text-decoration: none !important;
    line-height: 27px;
}

td a.list-item-table:hover {
    text-decoration: none !important;
    border: 1px solid var(--pp-orange-c-cleaner);
}

.extra-table-item i.fa-table {
    line-height: 1.5;
}

li.list-item i.fa-table {
    line-height: 1.2;
}

span.db-name {
    border: 1px solid var(--pp-orange-c-cleaner);
    padding: 0 3px 4px 3px;
    letter-spacing: .051em;
    border-left: 0;
    border-right: 0;
}

span.db-name > span.db-database-icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.auto-cleaning-section p.section-intro, .db-cleaning-section p.section-intro, .plugin-cleaning-section p.section-intro, .default-table-section p.section-intro {
    margin: 10px auto 15px auto;
}

details.auto-cleaning-section > summary.accordion-title, details.db-cleaning-section > summary.accordion-title, details.plugin-cleaning-section > summary.accordion-title {
    border-block-width: medium;
    border-block-style: inset;
    text-indent: .5em;
    border-block-start-color: rgba(138, 1, 1, .6);
    border-block-end-color: rgba(244, 41, 14, .6);
}

#DefaultTables {
    margin-top: 20px;
}

details.auto-cleaning-section, details.db-cleaning-section, details.plugin-cleaning-section {
    margin-left: initial;
    margin-right: initial;
}

.accordion-title span.content-cleaner-icon {
    width: 24px;
    height: 24px;
}

.confirm .confirm-notice {
    margin-top: 20px;
}

#DeleteModal .confirm .form-actions, #ViewColumns .confirm .form-actions {
    padding-top: 0;
}
